.link {
    color: black;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    
}

ol > li::marker {
    font-weight: bold;
  }
 
  ul {
    list-style: none;
    font-size: 20px;
}

 ol {
    list-style-position: inside;
    font-size: 20px;
}

* {
    text-align: center;
    background-color: rgb(221, 154, 53);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}




